<link rel="stylesheet" href="/styles/cryptidStyles.css" media="screen" title="no title" charset="utf-8">

<div class="container">
  <div class="row">
    <div class="col-12">
      <!--heading of cryptid page-->
      <div class="card mt-4">
        <div class="card-body">
          <div class = "row">
            <!--erase the placeholder text in this row in the final product-->
            <div class="col-3">
             
            </div>
          </div>
        </div>
      </div>
      <!--box where we put the image-->
      <div class="card mt-4 imageBox">
        <div class="card-body">
          <img src="{{results.imgUrl}}"alt="no recorded image"/>
        </div>
      </div>
      <div class="card mt-4 descriptionBox">
        <div class="card-body">
            <p>
              <strong>Description:</strong> {{results.description}}</p>
        </div>
      </div>
      <div class="card mt-4 scpBox">
        <div class="card-body">
            <p>
              <strong>SCP:</strong> {{results.procedures}}</p>
        </div>
      </div>
        <div class="card mt-4 forumBox">
          <div class="card-body">
            <p>
              <strong>Discussion</strong></p>
          </div>
        </div>
               
      <!--unused so far: {{cryptid.page_url}} -->
      <!--footer(geolocation, map, forum)-->
      <div class="card mt-4 footerBox">
        <div class="card-body">
          <div class="row">
             <div class="col-5">
               <div class="card geolocationBox footerButtons">
                  <div class="card-body"> 
                    <p>
                      <strong>Geolocation</strong></p>
                  </div>
                </div>
              </div>
              <div class="col-2">
                (logo here)
              </div>
              <div class="col-5">
                <div class="card mapBox footerButtons">
                    <div class="card-body">
                      <p>
                        <strong>Map</strong></p>
                    </div>
                  </div>
                </div>
          </div>        
        </div>
      </div>
            <a href="/">← Back To Home</a>  
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/cryptidView.js"></script>
<script>
  
  

</script>

