<link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

<a href="/" ><img class="directlogo" src="./img/logo.png" alt="logo"></a>

<div class="directcontainer">
    {{#each results}}
      {{> cryptid-block}}
    {{/each}}
</div>