<link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

<div class="top-container">
    <img src="/img/logo.png" alt="logo">
</div>

<div class="nav">
    <div class="navspace"></div>
    <a href="/cryptid-view/add">Add</a>
    <a href="/cryptid-view/5">Index</a>
    <a href="/login" class="login">Log In</a>
    <form id="content">
        <input type="text" name="input" class="input" id="search-input">
        <button type="reset" class="search" id="search-btn"></button>
    </form>

    {{!-- <form class="example" action="action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form> --}}
</div>


<script src="/js/index.js"></script>