<div class="top-container">
    <img src="./img/logo.png" alt="logo">
</div>

<div class="nav">
    <a href="#">Add</a>
    <a href="#">Index</a>
    <form id="content">
        <input type="text" name="input" class="input" id="search-input">
        <button type="reset" class="search" id="search-btn"></button>
    </form>

    {{!-- <form class="example" action="action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form> --}}
</div>





<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>