<div>
    <form action="/api/login" method="POST">
        <input placeholder="Email" name="email"/>
        <input placeholder="Password" name="password" type="password"/>
    <button>Login</button>
    </form>
</div>