<div>
    <form action="/api/signup" method="POST">
        <input placeholder="Email" name="email"/>
        <input placeholder="Password" name="password" type="password"/>
    <button>Signup</button>
    </form>
</div>