.imageBox{
  overflow:hidden;
}
.descriptionBox{
  height:100px;
  overflow:hidden;
}
.scpBox{
  height:100px;
  overflow:hidden;
}
.cryptidClass{
  text-align: right;
}
.geolocationBox{
  text-align: center;
}
.mapBox{
  text-align: center;
}
.forumBox{
  height:75px;
  text-align: center;
  overflow:hidden;
}
.container{
  background-image: url(../img/background.png);
}
body{
  background-image: url(./../img/titlebackground.png);
  
}
.card{
  background-color: #d8d8d8
}
a{
  color:white;
}
.footerButtons{
    background-color:#a1c07e
}
.footerBox{
  height:125px;
  background-color: #3c3f37
}
.resultImage{
    max-width:55%;
    border: none;
    display: block;
    margin: 0 auto;
}
.logo{
  max-width:100%;
}
.fas{
  border: none;
  text-align: center;
  color: #161615;
  margin-top: 100%;
  font-size: 25px;
}

.fa-arrow-right{
  float:right;
}
.headerBox{
  font-family: 'Archivo Narrow', sans-serif;
}
ul{
  text-align:left;
}